.radius-5, .search-c .seach-up, .search-c .search-down {
  border-radius: 5px; }

.search-c svg {
  display: inline-block;
  height: 2em;
  width: 2em;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  margin: .5em 0 0 0;
  fill: #2196f3;
  webkit-user-select: none; }

.search-c .seach-up, .search-c .search-down {
  margin: 0 auto; }

.search-c .seach-up {
  display: table;
  width: 94%;
  text-align: center;
  background: #fff; }
  .search-c .seach-up .search-h {
    overflow: hidden;
    display: inline-block; }
    .search-c .seach-up .search-h svg {
      float: left; }
    .search-c .seach-up .search-h span {
      float: left;
      display: inline-block;
      height: 3em;
      line-height: 3em; }

.search-c .search-down {
  display: none;
  width: 94%;
  overflow: hidden;
  background: #eee;
  border-collapse: separate; }
  .search-c .search-down .search-cancel, .search-c .search-down .search-input {
    display: table-cell;
    position: relative;
    height: 3em;
    line-height: 3em; }
  .search-c .search-down .search-input {
    display: table-cell;
    background: #fff;
    border-radius: 50% 50%;
    width: 100%; }
    .search-c .search-down .search-input svg {
      display: block;
      position: absolute;
      background: #fff;
      border-radius: 50%; }
    .search-c .search-down .search-input svg:first-child {
      left: 0;
      top: 50%;
      margin-top: -1em; }
    .search-c .search-down .search-input svg:last-child {
      top: 50%;
      right: 0;
      margin-top: -1em; }
    .search-c .search-down .search-input input {
      display: block;
      width: 100%;
      border-radius: 1.5em;
      height: 3em;
      line-height: 3em;
      text-indent: 2em;
      font-size: 12px; }
  .search-c .search-down .search-cancel {
    display: table-cell;
    width: 1%;
    padding: 0 1em;
    white-space: nowrap;
    vertical-align: middle; }
